pre {
    color: lightgreen;
    background-color: black;
    padding: 0px;
    border: 2px solid black;
    margin: 0px;
    line-height: 100%
}
pre code {
    color: lightgreen;
    background-color: black;
    border: 1px solid black;
    padding: 0px;
}
pre code b {
    color: lime;
}
